mixin button(text, disabled, buttonMode, type)
    button(class="btn " + buttonMode disabled=disabled type=type || "submit")&attributes(attributes) #{text}

mixin link(text, href, buttonMode)
    a(class="btn " + buttonMode href=href)&attributes(attributes) #{text}

mixin buttonWithIcon(text, disabled, icon, buttonMode, iconMode, type)
    button(class="btn " + buttonMode disabled=disabled type=type || "submit")&attributes(attributes) #{text}
        span(class="icon btn__icon " + iconMode) !{icon}

mixin linkWithIcon(text, href, icon, buttonMode, iconMode)
    a(class="btn " + buttonMode href=href)&attributes(attributes) #{text}
        span(class="icon btn__icon " + iconMode) !{icon}